<!-- @TODO 7 Afficher la liste des clients  -->
<!-- Une fois que les données sont chargées, on les affiches
     @TODO 8 -->
<div class="container mt-2">

  <!-- START OF @TODO 12 -->

  <!-- J'écoute l'Observable customers, je fais un subscribe, s'il ya les données je récup
  sinon failure #-->
  <ng-container *ngIf="customers | async as listCustomers; else failureOrLoading">

    <div class="card">
      <div class="card-header">Liste des clients</div>
      <div class="card-body">
        <div *ngIf="searchFormGroup">
          {{this.searchFormGroup?.value | json}}
          <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchCustomers()">
            <div class="input-group">
              <label class="input-group-text">Keyword to search</label>
              <!--La donnée que je vais saisir dans ce champ text elle va etre stockée dans keyword
              de searchFormGroup [2 way binding]-->
              <input type="text" class="form-control" formControlName="keyword">
              <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
          </form>
        </div>

        <table class="table">
          <thead>
          <tr>
            <th> ID </th>
            <th> Name </th>
            <th> Email </th>
          </tr>
          </thead>
          <tbody>
          <!--boucle sur les clients-->
          <!--pour chaquer customers c de la liste des customers-->

          <!--

          "For every group of customers delivered by the customers Observable,
          the async pipe will extract the latest list of customers and
          *ngFor will create one <tr> per customer,
          showing their ID, name, and email in the table rows.”

          -->

          <tr *ngFor="let c of customers | async">
            <td>{{c.id}}</td>
            <td>{{c.customerName}}</td>
            <td>{{c.customerEmail}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </ng-container>

  <!-- START @TODO 13-->
  <ng-template #failureOrLoading>
    <!-- If there's an error message, show it. Otherwise, show a loading indicator. -->
    <div *ngIf="errorMessage; else loadingTemplate" class="text-danger">
      {{errorMessage}}
    </div>

    <ng-template #loadingTemplate>
      <div>Loading...</div>
    </ng-template>
  </ng-template>
  <!-- START @TODO 13-->

  <!-- END OF @TODO 12 -->

</div>
